@import 'reset.css';
@font-face {
  font-family: "Neutral Face";
  src: url("../../fonts/NeutralFace.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/Inter-Light.woff2") format("woff2"), url("../../fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../../fonts/Inter-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Italic.woff2") format("woff2"), url("../../fonts/Inter-Italic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Inter-BoldItalic.woff2") format("woff2"), url("../../fonts/Inter-BoldItalic.woff") format("woff");
}
html {
  cursor: url(../../images/arrow.png), auto;
}

::selection {
  background: #100aff;
  color: red;
}

body {
  font-family: "Neutral Face", sans-serif;
  color: #100aff;
  cursor: url(../../images/arrow.png), auto;
}
body.block-scroll {
  height: 100%;
  overflow: hidden;
}

a {
  color: #100aff;
  text-decoration: none;
  position: relative;
  cursor: url(../../images/arrow-filled.png), auto;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 75px;
  cursor: url(../../images/arrow.png), auto;
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .line {
  background: #100aff;
  height: 0.6px;
  width: 100%;
  margin-right: 55px;
}
.header .logo {
  font-family: Inter, sans-serif;
  font-size: 40px;
  color: #100aff;
  display: flex;
  background: white;
  text-transform: uppercase;
  position: relative;
  padding-right: 55px;
}
.header .logo .name {
  overflow: hidden;
  width: 29px;
  transition: all 0.2s;
}
.header .logo:hover .name {
  width: 160px;
}
.header .logo .surname {
  overflow: hidden;
  width: 26px;
  transition: all 0.3s;
}
.header .logo:hover .surname {
  width: 280px;
}
.header .navigation {
  display: flex;
}
.header .navigation .navigation-item {
  margin-left: 35px;
}
.header .navigation .navigation-item:first-child {
  margin-left: 0;
}
.header .navigation .navigation-item .navigation-link {
  font-family: Inter, sans-serif;
  font-size: 16px;
}
.header .navigation .navigation-item .navigation-link:hover::after {
  width: 110%;
  height: 1px;
  bottom: -4px;
  left: -5%;
  content: "";
  display: block;
  position: absolute;
  background: #100aff;
  opacity: 1;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: white;
  justify-content: center;
  align-items: center;
  display: none;
}
.preloader.active {
  display: flex;
}
.preloader .loader {
  display: block;
  position: relative;
  place-items: center;
}
.preloader .loader::before, .preloader .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: -250px;
}
.preloader .loader::before {
  height: 1px;
  width: 500px;
  background-color: #100aff;
  animation: loaderLine 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes loaderLine {
  0%, 44%, 88.1%, 100% {
    transform-origin: left;
  }
  0%, 100%, 88% {
    transform: scaleX(0);
  }
  44.1%, 88% {
    transform-origin: right;
  }
  33%, 44% {
    transform: scaleX(1);
  }
}
.cursor-img {
  position: fixed;
  transition: transform 0.5s linear;
  width: 30px;
  height: 30px;
}

.project-page {
  padding-bottom: 100px;
}
.project-page .project-details {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}
.project-page .project-name {
  font-size: 40px;
}
.project-page .project-categories {
  margin-top: 20px;
  font-size: 11px;
  letter-spacing: 0.8px;
}
.project-page .project-categories span {
  margin-right: 25px;
}
.project-page .project-info {
  max-width: 600px;
}
.project-page .project-description {
  margin-top: 40px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.project-page .project-description .paragraph {
  margin-bottom: 20px;
}
.project-page .project-credentials {
  font-family: Inter, sans-serif;
  font-style: italic;
  font-size: 14px;
}
.project-page .project-credentials .project-row {
  margin-bottom: 9px;
}
.project-page .project-credentials .project-row b {
  font-weight: 700;
}
.project-page .project-pictures {
  margin-top: 60px;
}
.project-page .project-illustration {
  margin-bottom: 30px;
  width: 100%;
}
.project-page .project-illustration.justgo-cut-borders {
  clip-path: inset(1px 2px);
  width: calc(100% + 4px);
  margin-left: -2px;
}
.project-page .project-illustration.justgo-cut-bottom-border {
  clip-path: inset(0px 0px 2px);
}
.project-page .project-illustration-split {
  display: flex;
}
.project-page .project-illustration-split .project-illustration {
  max-width: 50%;
  min-width: 0;
}
.project-page .project-illustration-split .project-illustration:not(:last-child) {
  margin-right: 30px;
}
.project-page .more-projects {
  margin-top: 90px;
  padding-top: 25px;
  border-top: 1px solid #100aff;
}
.project-page .more-projects .more-heading {
  font-size: 40px;
}
.project-page .other-projects-gallery {
  margin-top: 50px;
  display: inline-grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.project-page .project-link {
  height: 100%;
}
.project-page .project-link:hover .thumbnail-hover {
  opacity: 1;
}
.project-page .project-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.project-page .thumbnail-hover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  background: #100aff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-page .thumbnail-hover .project-name {
  color: white;
  font-size: 30px;
}
.project-page .thumbnail-hover .project-label {
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 14px;
  position: absolute;
  color: white;
  bottom: 30px;
  margin: 0 40px;
}

/*# sourceMappingURL=project.css.map */
