<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K48SSJRT5D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-K48SSJRT5D');
    </script>
    <title>{{project.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#ifnoteq project.id "experiments"}}
    <link rel="stylesheet" href="static/styles/css/project.css" />
    {{/ifnoteq}}

    {{#ifeq project.id "experiments"}}
    <link rel="stylesheet" href="static/styles/css/experiments.css" />
    {{/ifeq}}
</head>

<body class="project-page">
    {{> smallScreenBanner }}
    <div id="preloader" class="preloader active">
        <div class="loader"></div>
    </div>
    <div class="container">
        {{> header }}
        {{> projectDetails project }}

        {{#ifnoteq project.id "experiments"}}
        {{> projectImages project }}
        {{/ifnoteq}}

        {{#ifeq project.id "experiments"}}
        {{> experimentsProject}}
        {{/ifeq}}
        {{> moreProjects otherProjects }}
    </div>
    <script src="static/js/utils.js" defer></script>
    <script src="static/js/project-page.js" defer></script>
</body>

</html>