@use 'variables';
@import 'main';

.about-page {
  padding-bottom: 100px;

  .about-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .column {
    width: 100%;

    &:first-child {
      width: 60%;
      margin-right: 30px;
      flex-shrink: 0;
    }
  }

  .avatar {
    width: 100%;
  }

  .skills {
    margin-top: 40px;
    display: flex;
    font-family: Inter, sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 1.3;

    .skills-column {
      &:first-child {
        margin-right: 80px;
      }
    }

    .skills-heading {
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  .intro-heading {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.2;
  }

  .paragraph {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 20px 0;
    text-align: justify;
  }

  .contact-heading {
    font-size: 36px;
    margin-top: 80px;
  }

  .email-link {
    margin-top: 15px;
    display: inline-flex;
    font-family: Inter, sans-serif;
    text-decoration: underline;
  }

  .socials {
    margin-top: 25px;
    display: flex;

    .social-link {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border: 1px solid white;

      &:hover {
        border: 1px solid variables.$text;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .device-animation {
    width: 100%;
    height: calc(100vh - 110px);
    min-height: 500px;
    max-height: 800px;
  }
}
