@use 'variables';
@import 'project';

html {
  background: variables.$black;
}

body {
  background: linear-gradient(
    180deg,
    #000000 13.66%,
    #000aff 28.58%,
    #000000 33.68%
  );
}

.header {
  .logo {
    background: transparent;
  }
}

.project-page {
  .project-illustration-split {
    .project-illustration {
      &:not(:last-child) {
        margin-right: 120px;
      }
    }
  }

  .trust-animation {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

    .project-trust-illustration {
      max-height: 730px;
    }
  }

  .trust-van {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .project-trust-illustration {
      max-width: 900px;
    }
  }

  .posters {
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .function-poster {
      max-width: 700px;
    }

    .jules-poster {
      max-width: 395px;
    }
  }

  .photos {
    margin-top: 100px;
    .photos-row {
      display: flex;
      align-items: flex-start;

      &.second {
        img {
          margin-right: 135px;
        }
      }
    }
  }

  .color-experiment {
    height: 800px;
    margin-top: 30px;
  }

  .be-real {
    margin-top: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
  }
}

.preloader {
  background: variables.$black;
}
