@use 'variables';
@import 'main';

.project-page {
  padding-bottom: 100px;

  .project-details {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
  }

  .project-name {
    font-size: 40px;
  }

  .project-categories {
    margin-top: 20px;
    font-size: 11px;
    letter-spacing: 0.8px;

    span {
      margin-right: 25px;
    }
  }

  .project-info {
    max-width: 600px;
  }

  .project-description {
    margin-top: 40px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 25px;

    .paragraph {
      margin-bottom: 20px;
    }
  }

  .project-credentials {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-size: 14px;

    .project-row {
      margin-bottom: 9px;

      b {
        font-weight: 700;
      }
    }
  }

  .project-pictures {
    width: 80%;
    margin: 60px auto 0 auto;
  }

  .project-illustration {
    margin-bottom: 30px;
    width: 100%;

    &.justgo-cut-borders {
      clip-path: inset(1px 2px);
      width: calc(100% + 4px);
      margin-left: -2px;
    }

    &.justgo-cut-bottom-border {
      clip-path: inset(0px 0px 2px);
    }
  }

  .project-illustration-split {
    display: flex;

    .project-illustration {
      max-width: 50%;
      min-width: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .more-projects {
    margin-top: 90px;
    padding-top: 25px;
    border-top: 1px solid variables.$text;

    .more-heading {
      font-size: 40px;
    }
  }

  .other-projects-gallery {
    margin-top: 50px;
    display: inline-grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .project-link {
    height: 100%;
    &:hover {
      .thumbnail-hover {
        opacity: 1;
      }
    }
  }

  .project-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .thumbnail-hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    background: variables.$text;
    display: flex;
    justify-content: center;
    align-items: center;

    .project-name {
      color: white;
      font-size: 30px;
    }

    .project-label {
      font-family: Inter, sans-serif;
      font-weight: 200;
      font-size: 14px;
      position: absolute;
      color: white;
      bottom: 30px;
      margin: 0 40px;
    }
  }
}
