<div class="project-pictures">
    <div class="project-illustration-split">
        <img class="project-illustration split" src="static/images/projects/experiments/nothing matters 2.png"
            alt="Independence day poster 1,Independence day poster 2" /><img class="project-illustration split"
            src="static/images/projects/experiments/do nothing in every possible moment 2.png"
            alt="Independence day poster 1,Independence day poster 2" />
    </div>
    <div class="trust-animation">
        <video autoplay loop muted playsinline class="project-trust-illustration">
            <source src="static/images/projects/experiments/trust.webm" type="video/webm" />
        </video>
    </div>
    <div class="trust-van">
        <img class="project-trust-illustration" src="static/images/projects/experiments/traffic_van.png"
            alt="Trust van" />
    </div>
    <div class="posters">
        <img class="function-poster" src="static/images/projects/experiments/function_poster.png" alt="Poster" />
        <img class="jules-poster" src="static/images/projects/experiments/yuliya_poster.png" alt="Poster" />
    </div>
    <div class="photos">
        <div class="photos-row">
            <img src="static/images/projects/experiments/photo_1.png" alt="Photo 1" />
            <img src="static/images/projects/experiments/photo_2.png" alt="Photo 2" />
        </div>
        <div class="photos-row second">
            <img src="static/images/projects/experiments/photo_3.png" alt="Photo 3" />
            <img src="static/images/projects/experiments/photo_4.png" alt="Photo 4" />
        </div>
    </div>
    <img class="color-experiment" src="static/images/projects/experiments/color.png" alt="Color experiment" />
    <div class="be-real">
        <img src="static/images/projects/experiments/be_real.gif" alt="Be real poster" />
    </div>
</div>