<header class="header">
    <a href="index.html" class="logo">
        <span class="name">Yulia</span>
        <span class="surname">Tverdokhlib</span>
    </a>
    <div class="line"></div>
    <ul class="navigation">
        <li class="navigation-item">
            <a href="{{#if isHomepage}}#projects{{else}}index.html#projects{{/if}}" class="navigation-link">Projects</a>
        </li>
        <li class="navigation-item">
            <a href="about.html" class="navigation-link">About</a>
        </li>
    </ul>
</header>