@use 'variables';
@import 'reset.css';
@import 'fonts';

body {
  font-family: 'Neutral Face', sans-serif;
  color: variables.$text;

  &.block-scroll {
    height: 100%;
    overflow: hidden;
  }

  cursor: url(../images/arrow.png), auto;
}

a {
  color: variables.$text;
  text-decoration: none;
  position: relative;
  cursor: url(../images/arrow.png), auto;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 75px;
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .line {
    background: variables.$text;
    height: 0.6px;
    width: 100%;
    margin: 0 55px;
  }

  .logo {
    font-family: Inter, sans-serif;
    font-size: 40px;
    color: variables.$text;
    display: flex;
    background: white;
    text-transform: uppercase;
    position: relative;

    .name {
      overflow: hidden;
      width: 30px;
      transition: all 0.2s;
    }

    &:hover {
      .name {
        width: 130px;
      }
    }

    .surname {
      overflow: hidden;
      width: 26px;
      transition: all 0.3s;
    }

    &:hover {
      .surname {
        width: 280px;
      }
    }
  }

  .navigation {
    display: flex;

    .navigation-item {
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }

      .navigation-link {
        font-family: Inter, sans-serif;
        font-size: 16px;

        &:hover::after {
          width: 110%;
          height: 1px;
          bottom: -4px;
          left: -5%;
          content: '';
          display: block;
          position: absolute;
          background: variables.$text;
          opacity: 1;
        }
      }
    }
  }
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: white;
  justify-content: center;
  align-items: center;
  display: none;

  &.active {
    display: flex;
  }

  .loader {
    display: block;
    position: relative;
    place-items: center;

    &::before,
    &::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: -250px;
    }

    &::before {
      height: 1px;
      width: 500px;
      background-color: variables.$text;
      animation: loaderLine 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
    }
  }
}

@keyframes loaderLine {
  0%,
  44%,
  88.1%,
  100% {
    transform-origin: left;
  }

  0%,
  100%,
  88% {
    transform: scaleX(0);
  }

  44.1%,
  88% {
    transform-origin: right;
  }

  33%,
  44% {
    transform: scaleX(1);
  }
}

.cursor-img {
  position: fixed;
  transition: transform 0.5s linear;
  width: 30px;
  height: 30px;
}
